.Bar {
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
  width: 100%;
  min-width: 100px;

  .dot {
    height: 24px;
    width: 12.5%;
  }

  .grey {
    background-color: white;
    outline: solid black 2px;
  }

  .greyBar {
    height: 24px;
    background-color: lightgrey;
    outline: black solid 2px;
  }
  .greenBar {
    height: 24px;
    background-color: #3dcc79;
    outline: black solid 2px;
  }
}

.green {
  background-color: #3dcc79;
  outline: solid black 2px;
}
